/* fallback */
@font-face {
  font-family: 'RobotoFallbackPass';
  src: url(fonts/fallback/Roboto-subset-fail.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoFallbackFail';
  src: url(fonts/fallback/Roboto-subset-pass.ttf) format('truetype');
}